body{
    background-color:rgb(207, 207, 207);
}


div#main {
  margin: auto;
  width: 100%;
  
  
}

div#back {
    margin: auto;
    
    width: 80%;
    text-align: end;
    border-radius: 10px;
    background-color: #252424;
    color: honeydew;
    
    
}

a { text-decoration: none;
color: white; }

a:hover{
    color: black;
}

div#header {
    margin: auto;
    height: 50px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    background-color: #252424;
    color: honeydew;
  }
  
  div#diagrams {
    margin: auto;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(150, 150, 150);
  }

  button{

    border: none;
    background-color: gray;
    border-radius: 5px;
    color: white;
    position: absolute;
    

}

button:hover{

    background-color: white;
    color:black;

}
