button{

    border: none;
    background-color: gray;
    border-radius: 5px;
    color: white;

}

body{

    background-color: rgb(207, 207, 207);
}

button:hover{

    background-color: white;
    color:black;

}

input{
    font-size:15;
    text-align: right;

}



input:disabled,button:disabled{
    background-color: #353535;
}


div{
    background-color: #252424;
}

div#vertical{
    background-color: #181818;
}


div#text{
    background-color: #252424;
    color:white;
}


#helpDialog{

    background-color: rgb(172, 172, 172);
    border-radius: 30px;
    overflow : auto;



}

#helpNode{

    background-color: gray;
    border-radius: 5px;
    overflow : auto;
    border: 1px solid black;



}

button,input {
    transition-duration: 0s;
  }


#helpDialog::-webkit-scrollbar {
    display: none;


}
